In [1]:
1 + 3

4

In [3]:
print("Hello World!")

Hello World!

# This is like a Heading 1 in html

### This is like a Heading 3 in HTML

In [4]:
l = [1,2,3]

In [5]:
l

[1, 2, 3]

In [8]:
print(l)

[1, 2, 3]

In [9]:
pwd

'C:\\Users\\jpand\\Dropbox\\Python'

## Variables

In [14]:
a = 4
b = 3.0
x = a + b
print(x)

7.0

In [32]:
int = 5
float = 5.0
boolean = True
txt  = "text"

In [33]:
print(type(float))

<class 'float'>

In [40]:
len(txt)

4

# Strings

## Note: strings are not mutable

In [41]:
"Hello world"

'Hello world'

In [42]:
'Hello'

'Hello'

In [43]:
s  = "Hello"

In [44]:
s

'Hello'

In [45]:
type(s)

str

In [47]:
len(s)

5

In [48]:
s.upper()

'HELLO'

In [49]:
s.lower()

'hello'

In [50]:
s.swapcase()

'hELLO'

In [55]:
s.find("o")

4

In [54]:
s.count("h")

0

In [56]:
s[0]

'H'

# Lists

In [97]:
l = [1,2,3,4]

In [98]:
l

[1, 2, 3, 4]

### List Slicing

In [99]:
l[1]

2

In [100]:
l[1+1]

3

In [101]:
l[3] = 18

In [102]:
l

[1, 2, 3, 18]

In [103]:
l[::-1]

[18, 3, 2, 1]

#### Insert

In [104]:
l.insert(4,12)

In [105]:
l

[1, 2, 3, 18, 12]

In [106]:
l + [30] #lists can concat

[1, 2, 3, 18, 12, 30]

In [107]:
l * 0

[]

In [108]:
" aa " * 4

' aa  aa  aa  aa '

In [109]:
l = [1,"two", 5.0, True]

In [110]:
l

[1, 'two', 5.0, True]

## Sort

In [24]:
lst = [1,2,3,4,5,2,2,3,5]
lst.sort()
print(lst)

[1, 2, 2, 2, 3, 3, 4, 5, 5]

# tuples

In [111]:
tup  = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")

In [112]:
tup

('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')

In [113]:
tup[1]

'Tue'

In [114]:
tup[1] = "Jan" #tuples are IMMUTABLE

TypeError: 'tuple' object does not support item assignment

In [117]:
tup.count("jan")

0

In [118]:
tup[1:]

('Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')

In [119]:
tup[:5]

('Mon', 'Tue', 'Wed', 'Thu', 'Fri')

In [120]:
tup[::-1]

('Sun', 'Sat', 'Fri', 'Thu', 'Wed', 'Tue', 'Mon')

# Statements

## the 'if' statement

In [8]:
a = 20 
if (a == 20): 
    print("a is 20")

a is 20

In [9]:
txt = "PyThOn"
yxy = "python"
if (txt.lower() == yxy.lower()): 
    print("Monty")

Monty

In [13]:
lst = [1,2,3,4]
num = 2
# the in keyword searches within lists
if (num in lst): 
    print("found")

found

In [14]:
txt = "Punisher is badass"
# the in keyword searches within strings
if ("Punisher" in txt): 
    print("found")

found

In [15]:
lst = [1,2,3.0,4]
num = 3
#types can be casted if it makes sense
if (num in lst):
    print('found')

found

In [17]:
tup = ('Mon',"Tue")
#works for tuples, too! 
if ('Mon' in tup):
    print("found")

found

## if .. elif .. else..

In [25]:
a = 11
if (a < 10): 
    print("Lower than ten")
elif (a > 10): 
    print("Higher than ten")
else: 
    print("Equal to ten")

Higher than ten

In [30]:
num = 25
if (10<num<30):
    print("number '"+str(num)+"' is within range")

number '25' is within range

## Accepting input

In [37]:
val = input("Input a value: ")
print("value is "+val)

Input a value: 25
value is 25

In [35]:
type(val)

str

### Checking input with string functions

#### the str. class (data type) contains useful methods to check the input

In [10]:
num  = input("Provide a number: ")
#careful to select the correct data type 
if(num.isnumeric() and int(num) < 100):
    print(str(num)+" is a number and < 100")
elif (int(num) > 100):
    print(str(num)+" > 100")
else: 
    print("NaN")

Provide a number: 23
23 is a number and < 100

## for loops and the range() function 

### for var in [range]:

[range] can be a lot of things: 
- lists
- tuples
- strings
- ranges

In [18]:
rng1 = range(0,15)
# This is a generator 
# This is not YET a list
rng1

range(0, 15)

In [19]:
#converting to a list will help.. 
lst1 = list(rng1)
lst1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [22]:
for num in lst1:
    print(num*2)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [24]:
for letter in "Hello Python": 
    print(letter.upper())

H
E
L
L
O

P
Y
T
H
O
N

In [25]:
for num in range(0,10): 
    print(num*10)

0
10
20
30
40
50
60
70
80
90

## break, continue and pass statements

### break: stops loop exec
### continue: skips and iteration
### pass: do nothing

In [31]:
for num in range(-5,6):
    if (num==0):
        continue
    div = 10/num
    print(div)

-2.0
-2.5
-3.3333333333333335
-5.0
-10.0
10.0
5.0
3.3333333333333335
2.5
2.0

## while loops

In [1]:
a=0 
while (a<10): 
    print(str(a))
    a=a+1

0
1
2
3
4
5
6
7
8
9

In [8]:
a = 12
while (a<10): 
    print(str(a))
    a+=1
else: 
    print("out of range")

out of range

### half-loops

In [11]:
while True: 
    num = input("Give a number:")
    if (num.isalpha()):
        break
    else: 
        print(str(num)+ " correct")

Give a number:10
10 correct
Give a number:500
500 correct
Give a number:john

## Functions

In [12]:
def Add(x,y): 
    result = x+y
    return result
sum = Add(5,10)
print(str(sum))

15

### def: delcares the function 
### the return statement stops the function and returns the "result " back

## Function Overloading is NOT ALLOWED

In [14]:
def Add(x,y):
    return x+y
def Add(x,y,z):
    return x+y+z
num = Add(10,20)

TypeError: Add() missing 1 required positional argument: 'z'

### you can use a variable with pre-assigned value

In [15]:
def SayHello(text, caps=True):
    """ Returns the text as uppercase when true """
    if caps == False: 
        msg = "Hello, "+ text.lower()
    else: 
        msg = "HELLO, "+ text.upper()
    print(msg)

In [16]:
SayHello("Frank")

HELLO, FRANK

## List comprehensions

In [17]:
lst = [x**2 for x in range(0,10)]

In [18]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
def f(x):
    return 2*(x**2)+(2*x)+5
lst = [f(x) for x in range(0,12)]
lst

[5, 9, 17, 29, 45, 65, 89, 117, 149, 185, 225, 269]

In [21]:
odd = [x for x in range(0,21) if x%2==0]
odd

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
import random
import string

In [25]:
lst  = string.ascii_uppercase

In [26]:
lst

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'