In [1]:
1 + 3

4

In [3]:
print("Hello World!")

Hello World!

# This is like a Heading 1 in html

### This is like a Heading 3 in HTML

In [4]:
l = [1,2,3]

In [5]:
l

[1, 2, 3]

In [8]:
print(l)

[1, 2, 3]

In [9]:
pwd

'C:\\Users\\jpand\\Dropbox\\Python'

## Variables

In [14]:
a = 4
b = 3.0
x = a + b
print(x)

7.0

In [32]:
int = 5
float = 5.0
boolean = True
txt  = "text"

In [33]:
print(type(float))

<class 'float'>

In [40]:
len(txt)

4

# Strings

In [41]:
"Hello world"

'Hello world'

In [42]:
'Hello'

'Hello'

In [43]:
s  = "Hello"

In [44]:
s

'Hello'

In [45]:
type(s)

str

In [47]:
len(s)

5

In [48]:
s.upper()

'HELLO'

In [49]:
s.lower()

'hello'

In [50]:
s.swapcase()

'hELLO'

In [55]:
s.find("o")

4

In [54]:
s.count("h")

0

In [56]:
s[0]

'H'

# Lists

In [97]:
l = [1,2,3,4]

In [98]:
l

[1, 2, 3, 4]

### List Slicing

In [99]:
l[1]

2

In [100]:
l[1+1]

3

In [101]:
l[3] = 18

In [102]:
l

[1, 2, 3, 18]

In [103]:
l[::-1]

[18, 3, 2, 1]

#### Insert

In [104]:
l.insert(4,12)

In [105]:
l

[1, 2, 3, 18, 12]

In [106]:
l + [30] #lists can concat

[1, 2, 3, 18, 12, 30]

In [107]:
l * 0

[]

In [108]:
" aa " * 4

' aa  aa  aa  aa '

In [109]:
l = [1,"two", 5.0, True]

In [110]:
l

[1, 'two', 5.0, True]

## Sort

In [24]:
lst = [1,2,3,4,5,2,2,3,5]
lst.sort()
print(lst)

[1, 2, 2, 2, 3, 3, 4, 5, 5]

# tuples

In [111]:
tup  = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")

In [112]:
tup

('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')

In [113]:
tup[1]

'Tue'

In [114]:
tup[1] = "Jan" #tuples are IMMUTABLE

TypeError: 'tuple' object does not support item assignment

In [117]:
tup.count("jan")

0

In [118]:
tup[1:]

('Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')

In [119]:
tup[:5]

('Mon', 'Tue', 'Wed', 'Thu', 'Fri')

In [120]:
tup[::-1]

('Sun', 'Sat', 'Fri', 'Thu', 'Wed', 'Tue', 'Mon')

# Statements

## the 'if' statement

In [8]:
a = 20 
if (a == 20): 
    print("a is 20")

a is 20

In [9]:
txt = "PyThOn"
yxy = "python"
if (txt.lower() == yxy.lower()): 
    print("Monty")

Monty

In [13]:
lst = [1,2,3,4]
num = 2
# the in keyword searches within lists
if (num in lst): 
    print("found")

found

In [14]:
txt = "Punisher is badass"
# the in keyword searches within strings
if ("Punisher" in txt): 
    print("found")

found

In [15]:
lst = [1,2,3.0,4]
num = 3
#types can be casted if it makes sense
if (num in lst):
    print('found')

found

In [17]:
tup = ('Mon',"Tue")
#works for tuples, too! 
if ('Mon' in tup):
    print("found")

found

## if .. elif .. else..

In [25]:
a = 11
if (a < 10): 
    print("Lower than ten")
elif (a > 10): 
    print("Higher than ten")
else: 
    print("Equal to ten")

Higher than ten

In [30]:
num = 25
if (10<num<30):
    print("number '"+str(num)+"' is within range")

number '25' is within range

## Accepting input

In [37]:
val = input("Input a value: ")
print("value is "+val)

Input a value: 25
value is 25

In [35]:
type(val)

str